{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container mt-4 text-center">
    <h2 style="color: white; text-align: center;">Acerca de Nosotros</h2>
    <i class="fas fa-gamepad" style="color: white; font-size: 120px; margin-top: 10px; text-align: center"></i>  
    <h2 style="color: white; text-align: center;">
        Bienvenido a nuestra tienda de videojuegos y consolas usadas. 
        Nos especializamos en ofrecer los mejores juegos y consolas de segunda mano al mejor precio y de la mejor calidad a su disposición.
    </h2>
    <img src="{% static "fondo_acerca.jpeg" %}" alt="Acerca de nosotros" class="img-fluid mt-3" style="max-width: 60%; border-radius: 10px;">
    <img src="{% static "fondo_acerca1.jpeg" %}" alt="Acerca de nosotros" class="img-fluid mt-3" style="max-width: 60%; border-radius: 10px;">
    <img src="{% static "fondo_acerca2.jpeg" %}" alt="Acerca de nosotros" class="img-fluid mt-3" style="max-width: 60%; border-radius: 10px;">  
</div>
{% endblock %}
