{% extends "base.html" %}
{% block title %}Formulario de Compras{% endblock title %}
{% block content %}
<style>
    /* Estilos específicos para el formulario de compras */
    .compras-form .form-control {
        background-color: #f8f9fa;  /* Fondo claro para los campos */
        border: 1px solid #ccc;     /* Borde delgado y suave */
        color: black;  /* El texto dentro de los campos de entrada será negro */
    }

    /* Estilo para las etiquetas de los campos (por ejemplo, Fecha de Transacción) */
    .compras-form label {
        color: white;  /* Las etiquetas tendrán texto blanco */
    }

    .compras-form .form-control::placeholder {
        color: black;  /* El texto del placeholder será negro */
    }

    .compras-form .btn-primary {
        background-color: #007bff;
        border-color: #007bff;
    }
</style>

<form method="post" class="compras-form">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">Guardar</button>
    <a href="{% url 'tienda:compras' %}" class="btn btn-secondary">Regresar</a>
</form>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-datepicker@1.9.0/dist/css/bootstrap-datepicker.min.css">

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap-datepicker@1.9.0/dist/js/bootstrap-datepicker.min.js"></script>

<script>
    $(document).ready(function() {
        $('#id_fecha_transaccion').datepicker({
            format: 'yyyy-mm-dd',  
            autoclose: true
        });
    });
</script>

{% endblock %}
